<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divulga Aí! -</title>
    <link rel="stylesheet" href="./../../style/evento.css">
</head>
<body>
    <div class="main">
        <nav>
            <img src="./../../img/logo.png" alt="" srcset="">
            <div class="navInfo">
                
                <a href="#" id="contato">Contato</a>
            </div>
        </nav>
    </div>
    <div class="imageBrand" style="background-image: url('../../img/listAreas/img01.webp');"></div>
    <div class="eventInfo">
        <div class="eventInfoDesc">
            <h1>20º Congresso Brasileiro de Bioinformática: X-Meeting 2024</h1>
            <span id="prazo"><i class="fa fa-calendar" aria-hidden="true"></i> 06/11/2024 – 06/14/2024 - 08:00 AM - 04:00 PM GMT-3</span>
            <span id="local"><i class="fa fa-map-marker" aria-hidden="true"></i> Hotel Deville Prime Salvador - Salvador - Bahia - Brazil | Brasil</span>
        </div>
        <a href="#" class="eventRegisterBtn">Inscreva-se</a>
    </div>
    <div class="eventContent">
        <h2>What is X-meeting?</h2>
        <p>
            X-meeting 2024 is more than just a congress; it's a unique experience of learning, interaction, and integration with Brazil's bioinformatics and computational biology community. This year, the event will be held in the beautiful and historic city of Salvador, Bahia, between June 11 and 14. You can't miss this opportunity to learn about scientific advances, new technologies, and trends in the field, as well as network with researchers, students, and professionals from all over the country.
        </p>
        <p>
            The event is organised by the Brazilian Association of Bioinformatics and Computational Biology (AB3C), whose mission is to promote the scientific, technological, and educational development of the field in Brazil. Secure your place at this unmissable meeting!
        </p>
    </div>
    
    <footer>
        <a href="#"><span><i class="fa fa-instagram" aria-hidden="true"></i>@divulga_ai_educacao</span></a>
    </footer>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://kit.fontawesome.com/c6444e5d29.js" crossorigin="anonymous"></script>
    <script src="./src/js/home.js"></script>
    <script src="src/js/carousel.js"></script>
    <script src="./../../js/main.js"></script>
</body>
</html>