<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divulga Aí! - [Nome evento]</title>
    <link rel="stylesheet" href="./../../style/evento.css">
</head>
<body>
    <div class="main">
        <nav>
            <img src="./../../img/logo.png" alt="" srcset="">
            <div class="navInfo">
                
                <a href="#" id="contato">Contato</a>
            </div>
        </nav>
    </div>
    <div class="imageBrand"></div>
    <div class="eventInfo">
        <div class="eventInfoDesc">
            <h1>20º Congresso Brasileiro de Bioinformática: X-Meeting 2024</h1>
            <span id="prazo"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <span id="local"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
        </div>
        <a href="#" class="eventRegisterBtn">Inscreva-se</a>
    </div>
    <div class="eventContent">
        
    </div>
    
    <footer>
        <a href="#"><span><i class="fa fa-instagram" aria-hidden="true"></i>@divulga_ai_educacao</span></a>
    </footer>
    <script src="./../../temp_events/events.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://kit.fontawesome.com/c6444e5d29.js" crossorigin="anonymous"></script>
    <script src="./../../js/main.js"></script>
    <script src="./../../js/evento.js"></script>
</body>
</html>