<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divulga Aí! -</title>
    <link rel="stylesheet" href="./../../style/find.css">
</head>
<body>
    <img class="banner type2" src="./../../img/banner3.png" alt="" srcset="">
    <div class="main">
        <nav>
            <img src="./../../img/logo.png" alt="" srcset="">
            <div class="navInfo">
                <a href="#" id="info">Informações</a>
                <a href="#" id="sobre">Sobre</a>
                <a href="#" id="encontrarEvento">Encontrar Evento</a>
                <a href="#" id="contato">Contato</a>
            </div>
        </nav>
        <div class="brand">
            <h1>Descubra, Conecte, Explore.</h1>
            <h2>Encontre eventos, palestras, oficinas e muito mais!</h2>
        </div>
    </div>
    <div class="searchTab">
        <div class="filters">
            <input type="text" class="searchText">
            <div class="subFilters">
                <button class="activateFilters buttonFilter"><i class="fa fa-filter" aria-hidden="true"></i> Filtros</button>
                <button class="buttonFilter">Data <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                <button class="buttonFilter">Categoria <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                <button class="buttonFilter">Formato <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                <button class="buttonFilter"><i class="fa fa-star" aria-hidden="true"></i> Favoritos</button>
            </div>
        </div>
        <button class="searchButton buttonFilter">ENCONTRAR <i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
    <div class="events">
        
    </div>
    
    <footer>
        <a href="#"><span><i class="fa fa-instagram" aria-hidden="true"></i>@divulga_ai_educacao</span></a>
    </footer>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="./../../temp_events/events.js"></script>
    <script src="./../../js/main.js"></script>
    <script src="./../../js/encontrar_evento.js"></script>
    <script src="https://kit.fontawesome.com/c6444e5d29.js" crossorigin="anonymous"></script>
    
</body>
</html>