@import url('./style.css');

div.brand{
    width: 90%;
    padding: 30px 0;
    color: white;
    margin-top: 40px;
}

div.brand > h1{
    font-size: 38pt;
    font-weight: bold;
}

div.brand > h2{
    font-size: 24pt;
    font-weight: lighter;
}

div.searchTab{
    display: flex;
    width: calc(90% - 60px);
    margin: 0 auto;
    margin-top: 60px;
    padding: 50px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;

}

div.filters{
    width: calc(80% - 10px);
    display: flex;
    flex-direction: column;
}

input.searchText{
    width: 100%;
    padding: 10px;
    border: 1px solid #4601ad;
    border-radius: 25px;
    margin-bottom: 10px;
}

div.subFilters{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.buttonFilter{
    border-radius: 25px;
    height: max-content;
    color: rgba(128, 128, 128, 0.804);
    cursor: pointer;
}

div.subFilters > .buttonFilter{
    background-color: transparent;
    padding: 5px 28px;
    border: 1px solid rgba(0, 0, 0, 0.373);
    font-size: medium;
}

button.activateFilters{
    background-color: #5600d3 !important;
    color: white;
    padding: 5px 30px !important;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 30%;
    text-align: left;
}

button.searchButton{
    width: 20%;
}

button.searchButton{
    padding: 4px;
    border: none;
    background-color: #5600d3;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}

div.events{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(90% - 60px);
    margin: 0 auto;
    margin-top: 60px;
    justify-content: start;

}

a.cardListAreas{
    text-decoration: none;
    color: #5600d3;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: calc(100% / 4 - 20px);
    margin: 10px 0;
    margin-right: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    border-radius: 15px;
    overflow: hidden;
    
}

div.imgPlaceHolderListAreas{
    height: 150px;
    background-size: cover;
}

div.cardListAreasDesc{
    position: relative;
    padding: 10px;
    text-align: left;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

div.cardListAreasDesc > span.date{
    display: block;
    font-weight: bold;
    font-size: 10pt;
    color: #288BE4;
    margin: 5px 0;
}

div.cardListAreasDesc > span.cardListLocation{
    display: block;
    font-weight: bold;
    font-size: 10pt;
    margin: 5px 0;
}



div.categoryDropdown{
    display: flex;
    flex-direction: column;
    width: 200px;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    transform: translate(-25%, 10px);
    z-index: 2;
    background-color: white;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
    
}

button.categoryButton{
    background-color: #5600d3;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px 0;
}

button.formatEncerrados{
    background-color: white;
    border: red solid 1px;
    color: red;
}