<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divulga Aí! - Contato</title>
    <link rel="stylesheet" href="./../../style/contact.css">
    
</head>
<body>
    <img class="banner type2" src="./../../img/banner2.png" alt="" srcset="">
    <div class="main">
        <nav>
            <img src="./../../img/logo.png" alt="" srcset="">
            <div class="navInfo">
                <a href="#" id="info">Informações</a>
                <a href="#" id="sobre">Sobre</a>
                <a href="./../encontrar_evento/" id="encontrarEvento">Encontrar Evento</a>
                <a href="#" id="contato">Contato</a>
            </div>
        </nav>
        <div class="brand">
            <h1>Quer compartilhar um evento? Divulga aí!</h1>
            <h2>Entre em contato com a nossa equipe.</h2>
        </div>
    </div>
    <div class="bigImage"></div>
    <div class="bigNotes">
        <div class="bigNote">
            <img src="./../../img/bigNote-01.png" alt="" srcset="">
            <div class="bigNoteDesc">
                <h3>Apareça nas pesquisas</h3>
                <span>Tenha uma página no Divulga Aí com informações do seu evento.</span>
            </div>
        </div>
        <div class="bigNote">
            <img src="./../../img/bigNote-02.png" alt="" srcset="">
            <div class="bigNoteDesc">
                <h3>Notifique seus eventos</h3>
                <span>Comunique as pessoas sobre seu evento e desperte interesses.</span>
            </div>
        </div>
        <div class="bigNote">
            <img src="./../../img/bigNote-03.png" alt="" srcset="">
            <div class="bigNoteDesc">
                <h3>Aumente o alcance</h3>
                <span>Eleve o nível da divulgação do seu evento unindo-se ao Divulga Aí.</span>
            </div>
        </div>
    </div>
    <div class="contactInfo">
        <h2>Entre em contato:</h2>
        <div class="contacts">
            <a href="https://www.instagram.com/divulga_ai_educacao/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> @divulga_ai_educacao</a>
            <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> +55 (75) 9 9996-2207</a>
            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> divulgaaiedu@gmail.com</a>
        </div>
    </div>
    
    <footer>
        <a href="https://www.instagram.com/divulga_ai_educacao/"><span><i class="fa fa-instagram" aria-hidden="true"></i>@divulga_ai_educacao</span></a>
    </footer>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="./../../temp_events/events.js"></script>
    <script src="./../../js/main.js"></script>
    <script src="./../../js/contato.js"></script>
    <script src="https://kit.fontawesome.com/c6444e5d29.js" crossorigin="anonymous"></script>
    
</body>
</html>